@font-face {
    font-family: 'Shag Lounge';
    src: url('resources/Shag.otf');
}

body {
    margin: 0;
}

.body .handle {
    width: 100%;
}

.body .handle #gif {
    width: 100%;
    height: 30rem;
    object-fit: cover;
}

.body .content #info {
    font-family: 'Shag Lounge';
    position: absolute;
    text-align: center;
    font-size: 1.3rem;
    width: 40%;
    left: 50%;
    transform: translateX(-50%);
}
